@import 'variables.scss';
@import 'mixins.scss';
@import 'global/scaffolding.scss';
@import 'global/fonts.scss';
@import 'blocks/btn.scss';
@import 'global/order.scss';
@import 'blocks/page-header.scss';
@import 'blocks/nav-wrapper.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/user-nav.scss';
@import 'blocks/items-menu.scss';
@import 'blocks/main-inner.scss';
@import 'blocks/week-offer.scss';
@import 'blocks/features-block.scss';
@import 'blocks/feature.scss';
@import 'blocks/reviews-block.scss';
@import 'blocks/review.scss';
@import 'blocks/contacts.scss';
@import 'blocks/items.scss';
@import 'blocks/item.scss';
@import 'blocks/promo-video.scss';
@import 'blocks/page-footer.scss';
@import 'blocks/modal.scss';
