@import 'global/fonts.scss';
@import 'global/forms.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'blocks/page-header.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/items-menu.scss';
@import 'blocks/main-wrapper.scss';
@import 'blocks/week-offer.scss';
@import 'blocks/btn.scss';
@import 'blocks/features-block.scss';
@import 'blocks/feature.scss';
@import 'blocks/reviews-block.scss';
@import 'blocks/review.scss';
@import 'blocks/contacts.scss';
@import 'blocks/item.scss';
@import 'blocks/promo-video.scss';
@import 'blocks/page-footer.scss';
@import 'blocks/modal.scss';
