@import '../mixins.scss';
@import '../variables.scss';
.order {
    margin: 0 auto;
    width: 260px;
    @include main-paddings(30px, 28px, 55px);
    padding-right: 30px;
    @include font-set(bold, 17px, 18px, left);
    color: rgb(0, 0, 0);
}

.order__txt {
    margin: 0;
    display: block;
    @include font-set(normal, 13px, 24px, left);
    color: $main-txt;
    &--required {
        @include font-set(normal, 14px, 16px, left);
    }
}

.order__fieldset {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    padding-top: 25px;
    border: none;
}

.order__fieldset-headline {
    @include font-set(bold, 17px, 16px, left);
    color: rgb(99, 209, 187);
    text-transform: uppercase;
}
