.order {
    margin: 0 auto;
    width: 260px;
    @include main-paddings(30px, 28px, 55px);
    padding-right: 30px;
    @include font-set(bold, 17px, 18px, left);
    color: $black;
    border: 1px solid red;
}

.order__txt {
    margin: 0;
    display: block;
    @include font-set(normal, 13px, 24px, left);
    color: $darkgray;
    &--required {
        @include font-set(normal, 14px, 16px, left);
    }
}

.order__fieldset-radio,
.order__fieldset-checkbox {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    padding-top: 25px;
    border: 1px dashed blue;
}

.order__checkbox {
    border: 1px dashed green;
}

.order__fieldset-headline {
    @include font-set(bold, 17px, 16px, left);
    color: $green;
    text-transform: uppercase;
}

.order__textfield {
    display: block;
}

@media (min-width: 768px) {
    .order {
        min-width: 668px;
    }
    .order__fieldset-checkbox,
    .order__fieldset-radio,
    .order__fieldset-username,
    .order__tel-field,
    .order__email-field,
    .order__submit {
        display: flex;
    }
    .order__fieldset-headline {
        padding-right: 120px;
        min-height: 210px;
    }
    .order__checkbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .order__required {
        order: 1;
    }
}

@media (min-width: 1150px) {
    .order {
        width: 1050px;
        padding-left: 60px;
    }
    .order__required {
        order: -1;
    }
}
