.btn {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 260px;
    height: 52px;
    @include main-paddings(0, 14px, 14px);
    @include font-set(bold, 17px, 20px, center);
    text-transform: uppercase;
    text-decoration: none;
    color: $darkgray;
    background-color: $white;
    border: 2px solid $darkgray;
    cursor: pointer;
}

.btn:hover {
    background-color: $darkgray;
    color: $white;
}

.btn:active {
    color: rgba(255, 255, 255, 0.3);
}
