.contacts__inner {
    margin: 0 auto;
    max-width: 320px;
    box-sizing: border-box;
    border: 1px solid green;
}

.contacts__block {
    @include main-paddings(30px, 28px, 55px);
    padding-right: 30px;
}

.contacts__headline {
    margin: 0;
    /*@include main-paddings(30px, 35px, 0);*/
    padding-top: 35px;
    @include font-set(bold, 25px, 30px, left);
    color: $black;
}

.contacts__txt {
    display: inline-block;
    vertical-align: top;
    max-width: 145px;
    margin: 0;
    padding-top: 40px;
    padding-left: 30px;
    @include font-set(normal, 15px, 30px, left);
    color: $darkgray;
    /*border: 1px solid orange;*/
}

.contacts__txt:nth-child(2n) {
    padding-left: 0;
}

.contacts__map {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    height: 458px;
    background-color: green;
}

@media (min-width: 768px) {
    .contacts__inner {
        max-width: 768px;
    }
    .contacts__block {
        @include main-paddings(50px, 30px, 0);
        padding-right: 50px;
    }
    .contacts__txt {
        max-width: 215px;
    }
    .contacts__txt:nth-child(4) {
        padding-left: 50px;
    }
    .contacts__map {
        max-width: 768px;
        height: 450px;
    }
}

@media (min-width: 1150px) {
    .contacts {
        /*border: 1px dashed blue;*/
    }
    .contacts__inner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 50px;
        padding-right: 50px;
        max-height: 640px;
        max-width: 1150px;
    }
    .contacts__block {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        margin-left: 0;
        padding-left: 175px;
        padding-right: 0;
        padding-top: 75px;
        padding-bottom: 100px;
        box-sizing: border-box;
    }
    .contacts__headline {
        margin-right: auto;
        @include font-set(bold, 53px, 57px, left);
    }
    .contacts__txt {
        display: block;
        min-width: 75px;
        padding: 0;
    }
    .contacts__txt:nth-child(4) {
        padding-left: 0;
    }
    .contacts__map {
        order: 2;
        width: 525px;
        height: 455px;
        margin: 0;
        margin-left: auto;
        margin-bottom: auto;
    }
    .contacts__btn {
        margin-left: 175px;
        margin-bottom: 0;
    }
}
