.features-block__inner {
    width: 260px;
    margin: 0 auto;
    padding-top: 30px;
    border: 1px solid green;
}

.features-block__headline {
    margin: 0;
    /*@include main-paddings(30px, 35px, 0);*/
    @include font-set(bold, 25px, 30px, left);
    color: $black;
}

@media (min-width: 768px) {
    .features-block__inner {
        width: 668px;
        margin: 0 auto;
        padding-top: 60px;
    }
}

@media (min-width: 1150px) {
    .features-block__inner {
        width: 700px;
        padding-bottom: 85px;
    }
    .features-block__headline {
        @include font-set(bold, 53px, 57px, left);
    }
}
