.item {
    margin-top: 30px;
    border: 1px solid $lightgray;
}

.item__img {
    display: block;
    background: green;
}

.item__descr {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 200px;
}

.item__name {
    margin: 0;
    @include font-set(bold, 17px, 24px, left);
    color: $black;
}

.item__properties {
    margin: 0;
    @include font-set(normal, 13px, 30px, left);
    color: $darkgray;
}

.item__price-block {
    margin: 0;
    margin-top: auto;
    @include main-paddings(30px, 20px, 25px);
    padding-right: 30px;
    border-top: 1px solid $lightgray;
}

.item__price {
    display: inline-block;
    margin: 0;
    @include font-set(bold, 15px, 24px, left);
    color: $black;
}

.item__cart {
    display: inline-block;
    text-align: right;
}

@media (min-width: 768px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: right;
        flex-wrap: wrap;
        max-width: 668px;
        height: 335px;
        border: 1px dashed blue;
    }
    .item__img {
        width: 334px;
        height: 335px;
    }
    .item__descr {
        width: 275px;
        height: 260px;
        padding-left: 0;
        padding-top: 30px;
        margin-left: 28px;
        margin-right: auto;
        box-sizing: border-box;
    }
    .item__price-block {
        width: 270px;
        height: 75px;
        margin-left: 33px;
        margin-right: auto;
        padding-top: 25px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
}

@media (min-width: 1150px) {
    .item {
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0;
        width: 315px;
        height: 660px;
    }
    .item__img {
        width: 315px;
        height: 460px;
    }
    .item__price-block {
        margin-left: auto;
    }
}
