.items-menu {
    display: block;
    width: 290px;
    min-height: 48px;
    @include font-set(bold, 19px, 24px, left);
    color: $white;
    &--interier {
        @include main-paddings(30px, 28px, 30px);
        background-color: $green;
    }
    &--toys {
        @include main-paddings(30px, 28px, 30px);
        background-color: $darkgreen;
    }
}

@media (min-width: 768px) {
    .items-menu {
        display: flex;
        margin: 0 auto;
        max-height: 115px;
        width: 668px;
        @include font-set(bold, 20px, 30px, left);
        border: 1px solid blue;
    }
}

@media (min-width: 1150px) {
    .items-menu {
        width: 1050px;
    }
}
