.item {
    @include main-paddings(30px, 30px, 30px);
    padding-right: 30px;
}

.item__descr {
    margin: 0 auto;
    width: 200px;
    height: 45px;
    border: 1px solid red;
}

.item__name {
    margin: 0;
    padding-bottom: 15px;
    @include font-set(bold, 17px, 24px, left);
    color: rgb(0, 0, 0);
}

.item__properties {
    margin-bottom: 25px;
    @include font-set(normal, 13px, 30px, left);
    color: $main-txt;
}
