.items-menu {
    display: block;
    width: 290px;
    min-height: 48px;
    @include font-set(bold, 19px, 24px, left);
    color: $white;
    &--interier {
        @include main-paddings(30px, 28px, 30px);
        background-color: $green;
    }
    &--toys {
        @include main-paddings(30px, 28px, 30px);
        background-color: $darkgreen;
    }
}
