main-nav {
    position: relative;
}


/*.main-nav__wrapper {
    margin: 0 auto;
    width: 320px;
}*/

.main-nav__list {
    position: absolute;
    display: none;
    margin: 0 auto;
    width: 320px;
    padding: 0;
    list-style: none;
}

.main-nav__items {
    margin: 0;
    @include main-paddings(60px, 30px, 30px);
    padding-right: 30px;
    @include font-set(bold, 17px, 24px, left);
    color: rgb(0, 0, 0);
    background-color: white;
    border-top: 1px solid rgb(236, 236, 236);
    & a {
        text-decoration: none;
    }
    &--cart {
        border-bottom: 1px solid rgb(236, 236, 236);
    }
}
