.main-nav {
    margin: 0 auto;
    width: 320px;
}

.main-nav__catalog-list {
    margin: 0 auto;
    width: 320px;
    padding: 0;
    list-style: none;
    /*border: 1px solid blue;*/
}

.main-nav__items {
    margin: 0;
    @include main-paddings(75px, 27px, 33px);
    /*padding-right: 30px;*/
    height: 79px;
    box-sizing: border-box;
    @include font-set(bold, 17px, 24px, left);
    background-color: $white;
    border-bottom: 1px solid $lightgray;
    & a {
        text-decoration: none;
        color: $black;
    }
    &:nth-child(n+3) {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-nav {
        margin-left: 0;
    }
    .main-nav__catalog-list {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-left: 15px;
        width: 340px;
    }
    .main-nav__items {
        margin-top: auto;
        min-width: 170px;
        height: 60px;
        @include main-paddings(30px, 15px, 25px);
        box-sizing: border-box;
        @include font-set(bold, 15px, 24px, left);
        background-color: transparent;
        border: none;
        /*border: 1px solid orange;*/
    }
}

@media (min-width: 1150px) {
    .main-nav__catalog-list {
        width: 440px;
    }
    .main-nav__items {
        width: 220px;
        height: 90px;
        @include main-paddings(35px, 30px, 30px);
        @include font-set(bold, 17px, 24px, left);
        background-color: $white;
        &:nth-child(n+3) {
            display: block;
            height: 60px;
            @include main-paddings(35px, 16px, 20px);
            @include font-set(bold, 15px, 24px, left);
            background-color: transparent;
        }
        &:first-child {
            border-right: 1px solid $lightgray;
        }
    }
}
