.modal {
    /*position: fix;*/
    margin: 0 auto;
    width: 320px;
    /*height: 336px;*/
    border: 1px solid rgb(198, 198, 198);
    background-color: $white;
    box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal__headline {
    margin: 0 auto;
    padding-top: 35px;
    width: 260px;
    @include font-set(bold, 25px, 30px, center);
    text-transform: uppercase;
    color: $black;
}

.modal__txt {
    margin: 0 auto;
    padding-top: 20px;
    @include font-set(normal, 15px, 30px, center);
    color: $darkgray;
}

.modal__form {
    margin: 0 auto;
    width: 260px;
    /*@include main-paddings(30px, 28px, 45px);*/
    padding-top: 28px;
    padding-bottom: 45px;
    font-size: 0;
}

.modal__checkbox {
    display: inline-block;
    margin-right: 7px;
    width: 78px;
    height: 48px;
    border: 2px solid $lightgray;
    &:nth-child(3) {
        margin-right: 0;
    }
}

.modal__btn {
    margin-top: 30px;
    padding-right: 0px;
    color: $white;
    background-color: $green;
    border: none;
}

@media (min-width: 768px) {
    .modal {
        width: 568px;
    }
}
