.nav-wrapper {
    display: none;
    position: absolute;
    top: 80px;
    width: 320px;
    margin: 0 auto;
    /*border: 1px dashed black;
    box-sizing: border-box;*/
}

@media (min-width: 768px) {
    .nav-wrapper {
        top: 0px;
        width: 768px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (min-width: 1150px) {
    .nav-wrapper {
        width: 1150px;
        align-items: flex-start;
    }
}
