.page__header {
    margin: 0 auto;
}

.page-header__wrapper {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 80px;
    /*width: 260px;
    padding: 0 30px;*/
    border: 1px solid red;
}

.page-header__tittle {
    margin: 0;
    max-width: 244px;
    height: 30px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 72px;
    padding-bottom: 75px;
    @include font-set(bold, 27px, 30px, center);
    color: rgb(1, 0, 0);
    background-color: $lightestgray;
    border-top: 1px solid $lightgray;
    &--index {
        height: 90px;
        padding-bottom: 120px;
        background-image: url('../../img/hero-mobile@1x.jpg');
        background-position: center 20%;
    }
}

.page-header__logo {
    position: absolute;
    top: 10px;
    width: 320px;
    height: 80px;
    margin: 0 auto;
    background-image: url('../../img/logo-mobile.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $white;
    border-bottom: 1px solid $lightgray;
}

@media (min-width: 768px) {
    .page-header__wrapper {
        max-width: 768px;
    }
    .page-header__tittle {
        max-width: 496px;
        /*margin-top: 80px;*/
        padding-left: 135px;
        padding-right: 135px;
        padding-top: 160px;
        padding-bottom: 370px;
        @include font-set(bold,
        43px,
        50px,
        center);
    }
    .page-header__logo {
        width: 768px;
        height: 90px;
        background-image: url('../../img/logo-mobile.svg');
        background-position: 50px 50%;
    }
}

@media (min-width: 1150px) {
    .page-header__wrapper {
        max-width: 1150px;
    }
    .page-header__tittle {
        max-width: 606px;
        padding-left: 272px;
        padding-right: 272px;
    }
    .page-header__logo {
        width: 1150px;
        background-position: 50% 50%;
    }
}
