.page-header {
    margin: 0 auto;
    margin-top: 80px;
    background-color: $lightestgray;
    /*border: 1px solid orange;*/
}

.page-header__inner {
    max-width: 320px;
    margin: 0 auto;
    /*padding: 0 30px;*/
    /*border: 1px solid red;*/
}

.page-header__tittle {
    margin: 0 auto;
    max-width: 260px;
    padding-top: 70px;
    padding-bottom: 73px;
    @include font-set(bold, 27px, 30px, center);
    color: rgb(1, 0, 0);
    background-color: $lightestgray;
    border-top: 1px solid $lightgray;
    &--index {
        height: 90px;
        padding-bottom: 120px;
        background-image: url('../../img/hero-mobile@1x.jpg');
        background-position: center 20%;
    }
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
    .page-header__tittle--index {
        background-image: url('../../img/hero-mobile@2x.jpg');
    }
}

.page-header__logo-wrapper {
    position: absolute;
    top: 0;
    width: 320px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    padding-top: 22px;
    box-sizing: border-box;
    background-color: $white;
    border-bottom: 1px solid $lightgray;
}

.page-header__logo-link {
    display: inline-block;
    cursor: pointer;
}

.page-header__logo {
    /*position: absolute;
    top: 22px;
    left: 116px;*/
}

@media (min-width: 768px) {
    .page-header {
        &--catalog,
        &--form {
            &::after {
                content: "";
                position: absolute;
                top: 285px;
                width: 100%;
                height: 10px;
                background-image: url('../img/bg-zigzag-fill.svg');
                background-size: auto 20px;
            }
        }
    }
    .page-header__inner {
        min-width: 768px;
    }
    .page-header__tittle {
        max-width: 496px;
        padding-top: 90px;
        padding-bottom: 72px;
        @include font-set(bold,
        43px,
        50px,
        center);
        &--index {
            max-width: 768px;
            padding-top: 155px;
            padding-bottom: 380px;
            background-image: url('../../img/hero-desktop@1x.jpg');
            backround-size: 768px auto;
        }
    }
    .page-header__logo-wrapper {
        text-align: left;
        padding-top: 18px;
        padding-left: 50px;
        width: 768px;
        height: 81px;
    }
    .page-header__logo {
        /*position: absolute;
        top: 15px;
        left: 50px;*/
        width: 113px;
        height: 46px;
    }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
(min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__tittle--index {
        background-image: url('../../img/hero-desktop@2x.jpg');
    }
}

@media (min-width: 1150px) {
    .page-header {
        /*position: relative;*/
        margin-top: 90px;
        &::after {
            top: 313px;
            height: 23px;
            background-size: auto 23px;
        }
    }
    .page-header__inner {
        max-width: 1150px;
    }
    .page-header__tittle {
        max-width: 606px;
        padding-top: 90px;
        padding-bottom: 85px;
        @include font-set(bold,
        53px,
        57px,
        center);
        &--index {
            max-width: 1250px;
            padding-top: 150px;
            padding-bottom: 385px;
            backround-size: 1250px auto;
        }
    }
    .page-header__logo-wrapper {
        padding-right: 0;
        padding-top: 10px;
        width: 1150px;
        height: 91px;
        text-align: center;
    }
    .page-header__logo {
        /*position: absolute;
        top: 9px;
        left: 500px;*/
        width: 149px;
        height: 72px;
    }
}
