.promo-video {
    margin: 0 auto;
    width: 260px;
    /*@include main-paddings(30px, 20px, 25px);
    padding-right: 30px;*/
    border: 1px solid red;
}

.promo-video__name {
    margin: 0;
    @include main-paddings(30px, 25px, 25px);
    padding-right: 30px;
    @include font-set(bold, 17px, 24px, left);
    color: $black;
}

.promo-video__descr {
    margin: 0;
    @include main-paddings(30px, 30px, 30px);
    padding-right: 30px;
    @include font-set(normal, 13px, 24px, left);
    color: $darkgray;
}

.btn--promo-video {
    width: 188px;
}
