.promo-video {
    margin: 0 auto;
    width: 260px;
    border: 1px solid red;
}

.promo-video__video {
    width: 260px;
    height: 150px;
}

.promo-video__name {
    margin: 0;
    @include main-paddings(30px, 25px, 25px);
    padding-right: 30px;
    @include font-set(bold, 17px, 24px, left);
    color: $black;
}

.promo-video__descr {
    margin: 0;
    @include main-paddings(30px, 30px, 30px);
    padding-right: 30px;
    @include font-set(normal, 13px, 24px, left);
    color: $darkgray;
}

.btn--promo-video {
    width: 188px;
}

@media (min-width: 768px) {
    .promo-video {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 55px;
        width: 668px;
        height: 740px;
    }
    .promo-video__video {
        width: 100%;
        height: 455px;
        order: -1;
        border: 1px solid green;
    }
    .btn--promo-video {
        width: auto;
        margin-right: 42px;
        margin-left: 42px;
    }
}

@media (min-width: 1150px) {
    .promo-video {
        flex-wrap: wrap;
        width: 1050px;
        height: 456px;
    }
    .promo-video__video {
        width: 682px;
        height: 455px;
    }
    .promo-video__descr,
    .btn--promo-video {
        width: 230px;
        margin-right: 80px;
    }
}
