.reviews-block__headline {
    margin: 0;
    @include main-paddings(30px, 35px, 0);
    @include font-set(bold, 25px, 30px, left);
    color: $black;
    border: 1px solid blue;
}

@media (min-width: 768px) {
    .reviews-block {
        display: flex;
        flex-wrap: wrap;

    }
    .btn-reply {
        order: 0;
    }
}
