.reviews-block__headline {
    margin: 0;
    @include main-paddings(30px, 35px, 0);
    @include font-set(bold, 25px, 30px, left);
    color: $black;
    border: 1px solid blue;
}

@media (min-width: 768px) {
    .reviews-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
    .btn-reply {
        order: -1;
    }
    .reviews-block__headline {
        order: -2;
    }
}

@media (min-width: 1150px) {
    .reviews-block {
        width: 875px;
        padding-leftt: 175px;
    }
}
