.review__text {
    margin: 0;
    @include main-paddings(30px, 30px, 0);
    padding-right: 30px;
    @include font-set(normal, 15px, 30px, left);
    color: $darkgray;
}

.review__author {
    margin: 0;
    &--name {
        @include main-paddings(30px, 30px, 0);
        @include font-set(bold, 17px, 20px, left);
        color: $black;
    }
    &--nick {
        margin-bottom: 28px;
        @include main-paddings(30px, 10px, 0);
        @include font-set(normal, 17px, 20px, left);
        color: $darkgray;
    }
}

@media (min-width: 768px) {
    .review {
        display: flex;
        flex-wrap: wrap;
        border: 1px dashed blue;
    }
    .review-text {
        margin-right: auto;
    }
}
