.user-nav {
    width: 320px;
    /*border: 1px solid blue;*/
}

.user-nav__items {
    margin: 0;
    position: relative;
    @include main-paddings(75px, 29px, 30px);
    /*padding-right: 30px;*/
    width: 100%;
    box-sizing: border-box;
    @include font-set(bold, 17px, 20px, left);
    color: $black;
    background-color: $white;
    border: none;
    border-bottom: 1px solid $lightgray;
    &:last-child {
        display: none;
    }
    &--search {
        &::before {
            content: "";
            position: absolute;
            top: 28px;
            left: 30px;
            width: 20px;
            height: 20px;
            background-color: red;
        }
    }
    &--cart {
        &::before {
            content: "";
            position: absolute;
            top: 28px;
            left: 30px;
            width: 20px;
            height: 20px;
            background-color: red;
        }
    }
}

@media (min-width: 768px) {
    .user-nav {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: 50px;
        width: 350px;
    }
    .user-nav__items {
        padding-right: 0;
        margin-left: auto;
        @include font-set(bold, 17px, 20px, right);
        border-left: 1px solid $lightgray;
        border-bottom: none;
        /*border: 1px solid orange;*/
        &--search {
            font-size: 0;
            max-width: 85px;
        }
        &--cart {
            letter-spacing: 0.02em;
            max-width: 265px;
        }
        &:last-child {
            display: block;
            @include main-paddings(0px, 20px, 20px);
            @include font-set(normal, 15px, 24px, right);
            color: $black;
            background-color: transparent;
            border: none;
        }
    }
}
