.week-offer {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: -7px;
        width: 100%;
        height: 7px;
        background-color: red;
    }
}

.week-offer__inner {
    max-width: 320px;
    @include main-paddings(30px, 30px, 35px);
    padding-right: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid green;
}

.week-offer__headline {
    margin: 0;
    &--name {
        /*@include main-paddings(30px, 30px, 0);*/
        @include font-set(bold, 25px, 30px, left);
        color: $black;
    }
    &--mark {
        padding-top: 5px;
        @include font-set(bold, 17px, 20px, left);
        text-transform: uppercase;
        color: $green;
    }
}

.week-offer__descr {
    /*display: block;*/
    margin: 0;
    padding-top: 20px;
    padding-bottom: 16px;
    @include font-set(normal, 15px, 24px, left);
    color: $darkgray;
}

.week-offer__properties {
    margin: 0;
    padding-bottom: 25px;
    @include font-set(normal, 15px, 24px, left);
    color: $darkgray;
}

.week-offer__properties-cell {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid green;
    &--col1 {
        height: 30px;
        width: 95px;
    }
    &--col2 {
        height: 30px;
        width: 160px;
    }
}

.week-offer__img {
    padding-bottom: 20px;
}

.week-offer__price {
    margin: 0;
    padding-bottom: 25px;
    @include font-set(bold, 17px, 24px, center);
    color: $darkgray;
}

.week-offer__btn {
    margin-left: 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .week-offer__inner {
        max-width: 768px;
        @include main-paddings(50px, 30px, 0);
        padding-right: 50px;
    }
    .week-offer__headline {
        display: flex;
        align-items: center;
        /*border: 1px solid blue;*/
        &--name {
            margin-right: auto;
            @include font-set(bold, 43px, 50px, left);
        }
        &--mark {
            @include font-set(bold, 17px, 17px, center);
            width: 100px;
            padding-right: 28px;
            box-sizing: border-box;
        }
    }
    .week-offer__main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 55px;
        width: 668px;
        height: 404px;
        /*border: 1px solid blue;*/
    }
    .week-offer__descr {
        width: 260px;
    }
    .week-offer__img {
        order: 5;
        padding: 0;
        margin-left: auto;
        width: 334px;
        height: 404px;
    }
    .btn-week-offer {
        margin: 0;
        margin-right: auto;
        margin-top: auto;
    }
}

@media (min-width: 1150px) {
    /*.week-offer {
        padding-top: 75px;
    }*/
    .week-offer__inner {
        position: relative;
        max-width: 1050px;
        padding-left: 175px;
        padding-right: 0;
        padding-top: 75px;
        box-sizing: border-box;
    }
    .week-offer__main {
        width: 875px;
        height: 635px;
        padding-top: 0;
    }
    .week-offer__headline {
        display: block;
        &--name {
            position: absolute;
            left: 175px;
            top: 128px;
            @include font-set(bold, 53px, 57px, left);
        }
        &--mark {
            position: absolute;
            left: 46px;
            top: 140px;
        }
    }
    .week-offer__descr {
        padding-top: 160px;
    }
    .week-offer__img {
        width: 525px;
        height: 635px;
    }
}
